.App {
  background-color: #8c97ad;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.square {
  width: 80px;
  height: 80px;
  font-size: 48px;
  background-color:rgb(255, 255, 255);
  font-weight: 800;
}